{% extends 'core/base.html' %}
{% block content %}

<section class="panel" style="max-width:420px;margin:80px auto">
  <h2>إعداد النظام لأول مرة</h2>
  <p>أنشئ حساب المدير الرئيسي</p>

  {% if error %}
    <div style="color:red;margin-bottom:10px">{{ error }}</div>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    <label>اسم المستخدم</label>
    <input name="username" required>

    <label>كلمة المرور</label>
    <input type="password" name="password1" required>

    <label>تأكيد كلمة المرور</label>
    <input type="password" name="password2" required>

    <button class="btn btn-dark" style="margin-top:15px">
      إنشاء المدير
    </button>
  </form>
</section>

{% endblock %}
